<!-- your html code here -->
<div class="row mx-auto w-75 my-4 py-3">
    <!--Title-->
    <div class="col-12">
        <h1>Contact</h1>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum."</p>
    </div>
    <!--Form-->
    <div class="col-12 btn-light mx-auto w-75 p-4">
        <form class=" ms-4 ps-5 pb-3">
        <div class="row my-3 ms-4">
            <label for="inputEmail" class="col-sm-2 col-form-label text-right"><b>Your e-mail</b></label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail" placeholder="Your email">
            </div>
        </div>
        <div class="row mb-3 ms-4">
            <label for="inputMessage" class="col-sm-2 col-form-label text-right"><b>Your message</b></label>
            <div class="col-sm-10">
                <textarea name="message" class="form-control" id="inputMessage" cols="6" rows="5"
                    placeholder="Please enter your message here..."></textarea>
            </div>
        </div>
        <!--submit button-->
        <div class="row mb-3">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
        </form>
    </div>
</div>