<div class="container">
    <div class="row pt-4 my-4">
        <div class="col-8">
            <h2 class="text-sm-end">The First Heading <span class="text-muted">Will catch your eyes</span></h2>
            <p class="text-sm-">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate molestiae possimus hic commodi at,
                magnam maiores sit et suscipit inventore architecto mollitia. Commodi expedita repudiandae, velit
                mollitia earum veniam illum?</p>
        </div>
        <div class="col-4">
            <img src="assets/img/1.jpg" class="rounded-circle"  style="width: 250px; height: 250px;" >
        </div>
    </div>
</div>