<!-- your html code here -->
<div class="row mx-auto w-75">
    <div class="col-12">
        <h1>Portfolio</h1>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>
    </div>
    <div class="col-4">
        <div class="card">
            <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-primary">Project name</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
    <div class="col-4">
        <div class="card">
            <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-primary">Project name</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
    <div class="col-4">
        <div class="card">
            <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-primary">Project name</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
</div>