<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="assets/img/2.jpg" class="rounded-circle float-end"  style="width: 250px; height: 250px;" >
        </div>
        <div class="col-8">
            <h2 class="text-start">The Second Heading<span class="text-muted">Is Pretty Cool Too.</span></h2>
            <p class="text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate molestiae possimus hic commodi at,
                magnam maiores sit et suscipit inventore architecto mollitia. Commodi expedita repudiandae, velit
                mollitia earum veniam illum?</p>
        </div>

    </div>
</div>